In [2]:
#! pip install openpyxl

In [22]:
import pandas as pd

In [23]:
# Load the unified data set
df = pd.read_excel('raw_data.xlsx', sheet_name='raw_data', header=0)

In [24]:
#Check it worked and that the columns have the names
df.head(10)

                                                   x  y
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1
5  I have to jiggle the plug to get it to line up...  0
6  If you have several dozen or several hundred c...  0
7        If you are Razr owner...you must have this!  1
8                Needless to say, I wasted my money.  0
9                   What a waste of money and time!.  0

In [25]:
# Check the shape to know if it matched the description of the data  (3000 rows)
df.shape

(3000, 2)

In [26]:
#Import th nltk libraries to process the text
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [27]:
#I want to see how each step changes the text (taken from the workshop that was assigned)
#Just found a random line with text with various issues
random_text = df.iloc[3,0]
print(random_text)

Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!

In [28]:
# I did the suggest process for preprocessing but im adding two more steps

#Before doing the suggested process I will be:
# removing all punctuation ("!", ",", ".", "?", etc) replacing it with spaces.
# Getting this from a case where minutes.major was stuck together.
import re
random_text = re.sub(r'[^\w\s]', ' ', random_text)

print(random_text)

Tied to charger for conversations lasting more than 45 minutes MAJOR PROBLEMS

In [29]:
#Next get rid of all unnecesary spaces at either side and in between
random_text = ' '.join(random_text.split())
print(random_text)

Tied to charger for conversations lasting more than 45 minutes MAJOR PROBLEMS

In [30]:
#Now we start the recommended process
# First check what tokenization does
tokens = word_tokenize(random_text)
print(tokens)
# Interestingly, things like minutes.Major are stuck together and ! are separated

['Tied', 'to', 'charger', 'for', 'conversations', 'lasting', 'more', 'than', '45', 'minutes', 'MAJOR', 'PROBLEMS']

In [31]:
# Now lets see the result of lowercasing
tokens = [token.lower() for token in tokens]
print(tokens)

['tied', 'to', 'charger', 'for', 'conversations', 'lasting', 'more', 'than', '45', 'minutes', 'major', 'problems']

In [32]:
# Now we remove the stop words using the defined ones in nltk
stop_words = set(stopwords.words('english'))
tokens = [token for token in tokens if token not in stop_words]
print(tokens)
# Cool! this removed transitive words like: to, for, more, than...

['tied', 'charger', 'conversations', 'lasting', '45', 'minutes', 'major', 'problems']

In [33]:
#According to the steps we must use the "lemmatize"
lemmatizer = WordNetLemmatizer()
tokens = [lemmatizer.lemmatize(token) for token in tokens]
print(tokens)

#This changed the plural to singular
#Read this can change words to different versions if you consider them as verbs, adjectives, etc.

['tied', 'charger', 'conversation', 'lasting', '45', 'minute', 'major', 'problem']

In [34]:
#Finally paste the tokens back together
back_together = ' '.join(tokens)
print(back_together)

tied charger conversation lasting 45 minute major problem

In [36]:
def preprocess_text(text):
    if not isinstance(text, str):
        return ""
    
    # Repeate the Steps Outside

    # 1. Remove all punctuation by replacing with spaces
    text = re.sub(r"[^\w\s]", " ", text)

    # 2. Normalize spaces
    text = " ".join(text.split())

    # 3. Tokenize
    tokens = word_tokenize(text)

    # 4. Lowercase
    tokens = [token.lower() for token in tokens]

    # 5. Remove stopwords
    tokens = [token for token in tokens if token not in stop_words]

    # 6. Lemmatize
    tokens = [lemmatizer.lemmatize(token) for token in tokens]

    # 7. Join back into text
    return " ".join(tokens)

In [41]:
# Now apply all changes to the actual data set.
df['x'] = df['x'].apply(preprocess_text)
df

                                                      x  y
0                        way plug u unless go converter  0
1                             good case excellent value  1
2                                         great jawbone  1
3     tied charger conversation lasting 45 minute ma...  0
4                                             mic great  1
...                                                 ... ..
2995                  think food flavor texture lacking  0
2996                            appetite instantly gone  0
2997                    overall impressed would go back  0
2998  whole experience underwhelming think go ninja ...  0
2999  wasted enough life poured salt wound drawing t...  0

[3000 rows x 2 columns]

In [42]:
df.to_excel("cleaned_data.xlsx", index=False)