In [5]:
import pandas as pd
from pyformlang.finite_automaton import DeterministicFiniteAutomaton, State

# Import the data

In [2]:
df = pd.read_csv("students.csv", sep=";")
df.head()

   id         name         dob           program
0   1   Ana Torres  1999-04-25  Computer Science
1   2   John Smith  1973-12-07       Engineering
2   3   Laura Rios  2008-09-15            Design
3   4  Camilo Vega  1960-02-01       Mathematics
4   5  David Perez  1985-07-30               Law

In [3]:
dfDate = df["dob"]
dfDate.head()

0    1999-04-25
1    1973-12-07
2    2008-09-15
3    1960-02-01
4    1985-07-30
Name: dob, dtype: object

# First Part

In [28]:
dfa1 = DeterministicFiniteAutomaton()

In [29]:
q0, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10, q11, q12, q13, q14, q15, q16, q17, q18, q19, q20, q21 = [State(f"q{s}") for s in range(22)]

In [32]:
dfa1.add_start_state(q0)
dfa1.add_final_state(q20)
dfa1.add_final_state(q11)
dfa1.add_final_state(q13)
dfa1.add_final_state(q15)

1

In [37]:
dfa1.add_transitions([
    #q0 --> q1
    (q0, "0", q1),
    (q0, "1", q1),
    (q0, "2", q1),
    (q0, "3", q1),
    (q0, "4", q1),
    (q0, "5", q1),
    (q0, "6", q1),
    (q0, "7", q1),
    (q0, "8", q1),
    (q0, "9", q1),

    #q1 --> q2
    (q1, "0", q2),
    (q1, "1", q2),
    (q1, "2", q2),
    (q1, "3", q2),
    (q1, "4", q2),
    (q1, "5", q2),
    (q1, "6", q2),
    (q1, "7", q2),
    (q1, "8", q2),
    (q1, "9", q2),

    #q2 --> q3
    (q2, "0", q3),
    (q2, "1", q3),
    (q2, "2", q3),
    (q2, "3", q3),
    (q2, "4", q3),
    (q2, "5", q3),
    (q2, "6", q3),
    (q2, "7", q3),
    (q2, "8", q3),
    (q2, "9", q3),

    #q3 --> q4
    (q3, "0", q4),
    (q3, "1", q4),
    (q3, "2", q4),
    (q3, "3", q4),
    (q3, "4", q4),
    (q3, "5", q4),
    (q3, "6", q4),
    (q3, "7", q4),
    (q3, "8", q4),
    (q3, "9", q4),

    (q4, "-", q5),

    (q5, "0", q6),

    (q5, "1", q7),

    #q6 --> q18
    (q6, "4", q18),
    (q6, "6", q18),
    (q6, "9", q18),

    #q6 --> q8
    (q6, "1", q8),
    (q6, "3", q8),
    (q6, "5", q8),
    (q6, "7", q8),
    (q6, "8", q8),

    (q6, "2", q16),

    (q7, "1", q18),

    #q7 --> q8
    (q7, "0", q8),
    (q7, "2", q8),

    (q18, "3", q19),

    #q18 --> q10
    (q18, "1", q10),
    (q18, "2", q10),

    (q18, "0", q12),
    
    (q19, "0", q20),

    #q10 --> q11
    (q10, "0", q11),
    (q10, "1", q11),
    (q10, "2", q11),
    (q10, "3", q11),
    (q10, "4", q11),
    (q10, "5", q11),
    (q10, "6", q11),
    (q10, "7", q11),
    (q10, "8", q11),
    (q10, "9", q11),

    (q8, "-", q9),

    #q9 --> q10
    (q9, "1", q10),
    (q9, "2", q10),

    (q9, "0", q12),

    (q9, "3", q14),

    #q12 --> q13
    (q12, "1", q13),
    (q12, "2", q13),
    (q12, "3", q13),
    (q12, "4", q13),
    (q12, "5", q13),
    (q12, "6", q13),
    (q12, "7", q13),
    (q12, "8", q13),
    (q12, "9", q13),

    (q16, "-", q17),

    #q17 --> q10
    (q17, "1", q10),
    (q17, "2", q10),

    (q17, "0", q12),

    #Q14 --> q15
    (q14, "0", q15),
    (q14, "1", q15),

    #NOW EVERYTHING THAT GOES TO THE TRASH Q21
    #q0
    (q0, "-", q21),

    #q1
    (q1, "-", q21),
    
    #q2
    (q2, "-", q21),
    
    #q3
    (q3, "-", q21),
    
    #q4
    (q4, "0", q21),
    (q4, "1", q21),
    (q4, "2", q21),
    (q4, "3", q21),
    (q4, "4", q21),
    (q4, "5", q21),
    (q4, "6", q21),
    (q4, "7", q21),
    (q4, "8", q21),
    (q4, "9", q21),
    
    #q5
    (q5, "2", q21),
    (q5, "3", q21),
    (q5, "4", q21),
    (q5, "5", q21),
    (q5, "6", q21),
    (q5, "7", q21),
    (q5, "8", q21),
    (q5, "9", q21),
    (q5, "-", q21),
    
    #q6
    (q6, "0", q21),
    (q6, "-", q21),
    
    #q7
    (q7, "-", q21),
    (q7, "3", q21),
    (q7, "4", q21),
    (q7, "5", q21),
    (q7, "6", q21),
    (q7, "7", q21),
    (q7, "8", q21),
    (q7, "9", q21),
    
    #q8
    (q8, "0", q21),
    (q8, "1", q21),
    (q8, "2", q21),
    (q8, "3", q21),
    (q8, "4", q21),
    (q8, "5", q21),
    (q8, "6", q21),
    (q8, "7", q21),
    (q8, "8", q21),
    (q8, "9", q21),
    
    #q9
    (q9, "4", q21),
    (q9, "5", q21),
    (q9, "6", q21),
    (q9, "7", q21),
    (q9, "8", q21),
    (q9, "9", q21),
    (q9, "-", q21),

    #q10
    (q10, "-", q21),
    
    #q11
    (q11, "0", q21),
    (q11, "1", q21),
    (q11, "2", q21),
    (q11, "3", q21),
    (q11, "4", q21),
    (q11, "5", q21),
    (q11, "6", q21),
    (q11, "7", q21),
    (q11, "8", q21),
    (q11, "9", q21),
    (q11, "-", q21),

    #q12
    (q12, "-", q21),
    (q12, "0", q21),
    
    #q13
    (q13, "0", q21),
    (q13, "1", q21),
    (q13, "2", q21),
    (q13, "3", q21),
    (q13, "4", q21),
    (q13, "5", q21),
    (q13, "6", q21),
    (q13, "7", q21),
    (q13, "8", q21),
    (q13, "9", q21),
    (q13, "-", q21),
    
    #q14
    (q14, "2", q21),
    (q14, "3", q21),
    (q14, "4", q21),
    (q14, "5", q21),
    (q14, "6", q21),
    (q14, "7", q21),
    (q14, "8", q21),
    (q14, "9", q21),
    (q14, "-", q21),
    
    #q15
    (q15, "0", q21),
    (q15, "1", q21),
    (q15, "2", q21),
    (q15, "3", q21),
    (q15, "4", q21),
    (q15, "5", q21),
    (q15, "6", q21),
    (q15, "7", q21),
    (q15, "8", q21),
    (q15, "9", q21),
    (q15, "-", q21),
    
    #q16
    (q16, "0", q21),
    (q16, "1", q21),
    (q16, "2", q21),
    (q16, "3", q21),
    (q16, "4", q21),
    (q16, "5", q21),
    (q16, "6", q21),
    (q16, "7", q21),
    (q16, "8", q21),
    (q16, "9", q21),
    
    #q17
    (q17, "3", q21),
    (q17, "4", q21),
    (q17, "5", q21),
    (q17, "6", q21),
    (q17, "7", q21),
    (q17, "8", q21),
    (q17, "9", q21),
    (q17, "-", q21),
    
    #q18
    (q18, "4", q21),
    (q18, "5", q21),
    (q18, "6", q21),
    (q18, "7", q21),
    (q18, "8", q21),
    (q18, "9", q21),
    (q18, "-", q21),

    #q19
    (q19, "1", q21),
    (q19, "2", q21),
    (q19, "3", q21),
    (q19, "4", q21),
    (q19, "5", q21),
    (q19, "6", q21),
    (q19, "7", q21),
    (q19, "8", q21),
    (q19, "9", q21),
    (q19, "-", q21),
    
    #q20
    (q20, "0", q21),
    (q20, "1", q21),
    (q20, "2", q21),
    (q20, "3", q21),
    (q20, "4", q21),
    (q20, "5", q21),
    (q20, "6", q21),
    (q20, "7", q21),
    (q20, "8", q21),
    (q20, "9", q21),
    (q20, "-", q21),
    
    #q21
    (q21, "0", q21),
    (q21, "1", q21),
    (q21, "2", q21),
    (q21, "3", q21),
    (q21, "4", q21),
    (q21, "5", q21),
    (q21, "6", q21),
    (q21, "7", q21),
    (q21, "8", q21),
    (q21, "9", q21),
    (q21, "-", q21),
])

1

In [38]:
dfFirst = dfDate[dfDate.map(dfa1.accepts)]
print(dfFirst)

1     1973-12-07
3     1960-02-01
4     1985-07-30
8     1950-05-09
9     2004-02-29
11    1997-03-03
13    1983-08-19
14    2015-01-25
15    2009-10-31
16    1965-12-01
19    2003-02-28
21    1971-07-21
22    1982-03-14
23    2010-05-10
26    1968-01-01
27    1996-12-12
28    2005-08-08
29    2000-02-29
31    2018-07-07
33    1981-01-01
35    1946-02-02
39    2020-01-15
40    1992-05-05
41    2019-12-12
43    2001-07-23
44    1963-08-18
46    2002-02-02
48    2008-03-17
Name: dob, dtype: object

# Second Part

In [23]:
dfa2 = DeterministicFiniteAutomaton()

In [24]:
q0, q1, q2, q3, q4, q5, q6, q7 = [State(f"q{s}") for s in range(8)]

In [25]:
dfa2.add_start_state(q0)
dfa2.add_final_state(q4)

1

In [26]:
dfa2.add_transitions([
    (q0, "1",q1),
    (q1, "9",q2),
    
    (q2, "4",q3),
    
    #q3 --> q4
    (q3, "6",q4),
    (q3, "7",q4),
    (q3, "8",q4),
    (q3, "9",q4),

    (q2, "5", q5),

    #q5 --> q4
    (q5, "0",q4),
    (q5, "1",q4),
    (q5, "2",q4),
    (q5, "3",q4),
    (q5, "4",q4),
    (q5, "5",q4),
    (q5, "6",q4),
    (q5, "7",q4),
    (q5, "8",q4),
    (q5, "9",q4),

    (q2, 6,q6),

    #q6 --> q4
    (q6, "0",q4),
    (q6, "1",q4),
    (q6, "2",q4),
    (q6, "3",q4),
    (q6, "4",q4),

    #All states to the trash q7
    #q0
    (q0, "0",q7),
    (q0, "2",q7),
    (q0, "3",q7),
    (q0, "4",q7),
    (q0, "5",q7),
    (q0, "6",q7),
    (q0, "7",q7),
    (q0, "8",q7),
    (q0, "9",q7),
    #q1
    (q1, "0",q7),
    (q1, "1",q7),
    (q1, "2",q7),
    (q1, "3",q7),
    (q1, "4",q7),
    (q1, "5",q7),
    (q1, "6",q7),
    (q1, "7",q7),
    (q1, "8",q7),
    #q2
    (q2, "1",q7),
    (q2, "2",q7),
    (q2, "3",q7),
    (q2, "7",q7),
    (q2, "8",q7),
    (q2, "9",q7),
    #q3
    (q3, "0",q7),
    (q3, "1",q7),
    (q3, "2",q7),
    (q3, "3",q7),
    (q3, "4",q7),
    (q3, "5",q7),
    #q4
    (q4, "0",q7),
    (q4, "1",q7),
    (q4, "2",q7),
    (q4, "3",q7),
    (q4, "4",q7),
    (q4, "5",q7),
    (q4, "6",q7),
    (q4, "7",q7),
    (q4, "8",q7),
    (q4, "9",q7),
    #q5
    #q6
    (q6, "5",q7),
    (q6, "6",q7),
    (q6, "7",q7),
    (q6, "8",q7),
    (q6, "9",q7),
    #q7
    (q7, "0",q7),
    (q7, "1",q7),
    (q7, "2",q7),
    (q7, "3",q7),
    (q7, "4",q7),
    (q7, "5",q7),
    (q7, "6",q7),
    (q7, "7",q7),
    (q7, "8",q7),
    (q7, "9",q7)

])

1

In [27]:
dfSecond = dfDate[dfDate.str[:4].map(dfa2.accepts)]
print(dfSecond)

8     1950-05-09
17    1947-04-12
35    1946-02-02
Name: dob, dtype: object